 #!/usr/bin/env python

import argparse
import struct
import sys
import time

import nclib

parser = argparse.ArgumentParser(description="Launch exploit.")
parser.add_argument('host')
parser.add_argument('port')
{% for argument in arguments %}
parser.add_argument('--{{ argument }}')
{% endfor %}
parser.add_argument('-c', '--cmd', nargs="*")

args = parser.parse_args()

r = nclib.Netcat((args.host, int(args.port)), udp={{ udp | default(False) }})

{% for action, argument in actions %}
  {% if action == 'recvall' %}
    {% set arg = '' %}
  {% else %}
    {% set arg = argument | pprint %}
  {% endif %}

r.{{ action }}({{ arg }})
{% endfor %}

if args.cmd:
    for c in args.cmd:
        time.sleep(0.1)
        r.send_line(c.encode())
        time.sleep(0.1)
        print(r.recv(timeout=4).decode('utf-8'), end="")
    else:
        r.interact()
